name: C/C++ CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true
    - name: initialise
      run: mkdir build
    - name: conan
      run: |
        cd build
        pip install --user conan
        source ~/.profile
        conan user
        conan remote add bincrafters https://api.bintray.com/conan/bincrafters/public-conan || true
        conan install .. --build=missing -s compiler=clang -s compiler.version=6.0 -o silent=True -o curl=False -o openssl=False -o ffmpeg=False
      env:
        CC: clang-6.0
        CXX: clang++-6.0
    - name: cmake
      run: |
        cd build
        cmake -DDECAF_BUILD_TOOLS=ON -DDECAF_FFMPEG=OFF -DCMAKE_BUILD_TYPE=Release ..
      env:
        CC: clang-6.0
        CXX: clang++-6.0
    - name: make
      run: make
      env:
        CC: clang-6.0
        CXX: clang++-6.0
